@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    transition: all 0.2s;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(181, 181, 255);
}

h1 {
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;

}

.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    padding: 10px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 20px;
    background-color: white;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.card:hover {
    box-shadow: 0px 0px 5px black;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 17px;
}

span {
    margin-top: 10px;
    text-wrap: nowrap;
    font-size: 16px;
}