@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    transition: all 0.4s;
}

html {
    font-size: 62.5%;
}

header {
    padding: 20px;
    display: flex;
    width: fit-content;
    flex-flow: column;
    min-height: max-content;
    height: 100vh;
    background-color: rgb(197, 197, 255);
}

header:hover a span {
    opacity: 1;
    display: flex;
}

header:hover .name {
    opacity: 1;
    display: flex;
}

.head {
    display: flex;
    padding: 10px 0px;
    margin: 10px 0px;
    margin-top: 0px;
}

.logo {
    width: 42px;
    border-radius: 10px;
}

.head h1 {
    font-weight: bold;
}

.name {
    margin-left: 16px;
    display: flex;
    opacity: 0;
    font-size: 9px;
    display: none;
    flex-flow: column;
}

nav {
    display: flex;
    flex-flow: column;
    height: inherit;
    justify-content: space-between;
}

a svg {
    width: 24px;
}

a span {
    display: flex;
    opacity: 0;
    display: none;
    margin-left: 10px;
}

.first-part {
    display: flex;
    flex-flow: column;
}

.second-part {
    display: flex;
    flex-flow: column;
}

.second-part a,
.first-part a {
    text-decoration: none;
    padding: 8px 10px;
    margin: 5px 0px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    color: black;
    background-color: white;
}

.second-part a:hover,
.first-part a:hover {
    box-shadow: 0px 0px 8px black;
}

.second-part a span,
.first-part a span {
    font-size: 15px;
}