@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    background-color: hsl(190, 68%, 88%);
}

h1 {
    margin-top: 30px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.btn {
    color: black;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    background-color: white;
    font-weight: bold;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: black;
    transition: all 0.3s;
    z-index: -1;
}

.btn:hover::before {
    right: 0;
}

.btn:hover {
    background-color: transparent;
    color: #fafafa;
}


.btn:hover::before {
    transform: translateX(0);
}

.btn-1::before {
    left: 100%;
    right: 0;
}

.btn-1:hover::before {
    left: 0;
    right: 0;
}

.btn-2::before {
    left: 0;
    right: 0;
    top: 100%;
}

.btn-2:hover::before {
    left: 0;
    right: 0;
    top: 0;
}

.btn-3::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
}

.btn-3:hover::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}